img {
    max-width: 100%;
}

section.sidemenu {
    position: relative;
}

.sidebar {
    width: 20%;
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
}

.sidebar ul.list-group li a {
    padding: 0 50px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.sidebar ul.list-group {
    list-style: none;
}

.sidebar .side-image {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.sidebar ul.list-group li a i {
    display: block;
    font-size: 32px;
    max-width: max-content;
    position: relative;
}

.sidebar ul.list-group li a span {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0 0 0;
    display: block;
}

.sidebar ul.list-group li a p {
    margin: 0;
    font-size: 12px;
    max-width: 144px;
}

.sidebar ul.list-group li {
    padding: 10px 0;
    position: relative;
}


.sec-2 {
    width: 80%;
    float: right;
}

.sec-2 .content-cover {
    display: flex;
}

.sec-2 .content-cover .product-description {
    width: 70%;
    margin-left: 35px;
}

.sec-2 .content-cover .product-image {
    width: 30%;
}

.sec-2 .main-title {
    padding: 25px 0;    
}

.sec-2 .main-title h2 {
    position: relative;
}   

.sec-2 .main-title span {
    display: block;
    padding: 20px 0 0;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    max-width: max-content;
}

.sec-2 .main-title span:before {
    content: "";
    width: 27px;
    height: 3px;
    background: #000;
    display: inline-block;
    margin-right: 10px;
    transform: translateY(-4px);
}

.sec-2 .content-cover .product-description .video-icon a i {
    margin-left: 35%;
    font-size: 24px;
    color: #000;
}

.sec-2 .image-cover .lady-img 
{
    height: 100vh;
    box-shadow: 200px 0 0 0 #131313;
}

.sec-2 .image-cover {
    position: relative;
}

/* .sec-2 .image-cover a.advertise-btn {
    position: absolute;
    right: 0;
    top: 25%;
    transform: translate(-50%,-50%);
    padding: 25px 0;
} */
.sec-2 .image-cover a.advertise-btn {
    position: fixed;
    right: 0;
    top: 20%;
    /* transform: translate(0,-50%); */
    padding: 25px 0;
}

.sec-2 .content-cover .product-description .slide-content p {
    font-size: 20px;
    font-weight: 500;
    color: #4c4c4c;
}

.sec-2 .content-cover .product-image .price-tag {
    text-align: center;
    max-width: 150px;
}

.sec-2 .content-cover .product-image .price-tag strong {
    display: block;
    font-size: 35px;
}

.sec-2 .content-cover .product-image .price-tag span.text-right {
    font-size: 18px;
    font-weight: 500;
}

.sec-2 .row {
    display: flex;
    align-items: center;
}

/* Slider */

.sec-2 .content-cover .product-description .slick-slider {
    width: 220px;
    margin-bottom: 30px;
}

.sec-2 .content-cover .product-description .slider button.slick-prev.slick-arrow {
    position: absolute;
    left: -15px;
    transform: translate(-50%, -50%);
    top: 50%;
    outline: none;
    border: none;
    background: no-repeat;
}

.sec-2 .content-cover .product-description .slider button.slick-next.slick-arrow {
    position: absolute;
    right: -33px;
    transform: translate(-50%, -50%);
    top: 50%;
    outline: none;
    border: none;
    background: no-repeat;
}

.product-description .slider img {
    border-radius: 30px;
    height: 170px;
    object-fit: cover;
}

.sidebar ul.list-group li a i:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: #ffe0de;
    border-radius: 25px;
    right: -7px;
    bottom: -2px;
}

.sidebar ul.list-group li:nth-child(2n) .active i::after {
    background: #f94a93;
}