img {
    max-width: 100%;
}

section.sidemenu {
    position: relative;
}

.sidebar {
    width: 20%;
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: center;
}

.sidebar ul.list-group li a {
    padding: 0 50px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.sidebar ul.list-group li a img {
    width: 50px;
}

.sidebar ul.list-group {
    list-style: none;
}

.sidebar .side-image {
    position: absolute;
    bottom: 100px;
    left: 0;
}

/* .sidebar ul.list-group li a i {
    display: block;
    font-size: 32px;
    max-width: max-content;
    position: relative;
} */

.sidebar .sidebar-footer i {
    padding: 15px;
    font-size: 25px;
    margin: 0 auto;
    color: #737373;
}

.sidebar ul.list-group li a span {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0 0 0;
    display: block;
}

.sidebar ul.list-group li a p {
    margin: 0;
    font-size: 12px;
    max-width: 144px;
}

.sidebar ul.list-group li {
    padding: 10px 0;
    position: relative;
}


.sec-2 {
    width: 80%;
    float: right;
}

.sec-2 .content-cover {
    display: flex;
    margin: 40px auto 0;
}

.sec-2 .content-cover .product-description {
    width: 70%;
    margin-left: 35px;
}

.sec-2 .content-cover .product-image {
    width: 30%;
}

.sec-2 .main-title {
    padding: 60px 0;    
}

.sec-2 .main-title h2 {
    position: relative;
}   

.sec-2 .main-title span {
    display: block;
    padding: 20px 0 0;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    max-width: max-content;
}

.sec-2 .main-title span:before {
    content: "";
    width: 27px;
    height: 3px;
    background: #000;
    display: inline-block;
    margin-right: 10px;
    transform: translateY(-4px);
}

.sec-2 .content-cover .slide-content {
    max-width: 250px;
}

.sec-2 .content-cover .slide-content h2 {
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.sec-2 .content-cover .slide-content h2:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 10%;
    background: #000;
    top: -20px;
}

.sec-2 .content-cover .product-description .video-icon a i {
    margin-left: 35%;
    font-size: 24px;
    color: #000;
}

.sec-2 .image-cover .lady-img 
{
    height: 100vh;
    box-shadow: 200px 0 0 0 #131313;
}

.sec-2 .image-cover {
    position: relative;
}

/* .sec-2 .image-cover a.advertise-btn {
    position: absolute;
    right: 0;
    top: 25%;
    transform: translate(-50%,-50%);
    padding: 25px 0;
} */
.sec-2 .image-cover a.advertise-btn {
    position: fixed;
    right: 0;
    top: 20%;
    /* transform: translate(0,-50%); */
    padding: 25px 0;
}

.sec-2 .image-cover a.advertise-btn img {
    height: 400px;
}

.sec-2 .content-cover .product-description .slide-content p {
    font-size: 20px;
    font-weight: 500;
    color: #4c4c4c;
}

.sec-2 .content-cover .product-image .price-tag {
    text-align: center;
    max-width: 150px;
}

.sec-2 .content-cover .product-image .price-tag strong {
    display: block;
    font-size: 35px;
}

.sec-2 .content-cover .product-image .price-tag span.text-right {
    font-size: 18px;
    font-weight: 500;
}

.price-content {
    display: flex;
    margin: 90px 90px 0 0;
    justify-content: space-between;
}

.price-content .discription-blk {
    max-width: 129px;
}

.price-content .discription-blk span {
    display: block;
    font-size: 11px;
    font-weight: 700;    
}

.price-content .discription-blk a:before {
    content: "";
    position: absolute;
    height: 3%;
    width: 13%;
    background: #000;
    bottom: 80px;
}

.price-content .discription-blk a {
    color: #A4A4A4;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 40px 0;
}

.price-content .price-blk p {
    font-size: 11px;
    font-weight: 700;
    margin: 0;
}

.price-content .price-blk span {
    display: block;
    padding: 15px 0 30px;
    font-size: 30px;
    font-weight: 700;
}

footer.copyright {
    margin-top: 20px;
}

footer.copyright p {
    font-size: 11px;
    color: #000;
    font-weight: 700;
}

footer.copyright p a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    border-bottom: 1px solid #0003;
}

footer.copyright p a:hover {
    color: #0d6efd;
}

footer.copyright span {
    font-size: 10px;
    color: #A4A4A4;
    font-weight: 400;
}


/* Contact Form */

.contact .product-description form {
    margin-top: 40px;
}

.contact .product-description form .form-group {
    margin-bottom: 20px;
}

.contact .product-description form .form-group label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
}

.contact .product-description form .form-group input {
    background-color: #F3F3F3;
    border: none;
    border-radius: 0;;
}

.contact .product-description form .form-group textarea {
    background-color: #f3f3f3;
    border: none;
    border-radius: 0;
}

.contact .product-description form button {
    outline: none;
    border: none;
    background-color: #000;
    padding: 5px 25px;
    border-radius: 0;
}

.contact .product-description form .btn-primary:active:focus {
    box-shadow: none !important;
}

footer.copyright.cpt2 {
    margin-top: 115px;
}

/* /Contact Form */



/* Mackup */

.sec-2.mack .price-content {
    display: flex;
    margin: 50px 115px 0 50px;
    justify-content: space-between;
}

.sec-2.mack  .price-content .discription-blk {
    max-width: 229px;
}

.price-content .price-blk span {
    padding: 15px 0 15px;
}

.sec-2.mack  .content-cover .product-description {
    width: 70%;
    margin: auto 35px;
}

.sec-2.mack .content-cover {
    margin: 0;
}

.sec-2.mack .add-cover {
    position: relative;
    background: rgba(255, 224, 222, 0.4);
    height: 100vh;
}

.sec-2.mack .add-cover a.advertise-btn {
    position: absolute;
    left: -80px;
    bottom: 80px;
    padding: 25px 0;
}

.sec-2.mack .add-cover p {
    max-width: 270px;
    margin: 50px auto;
    text-align: left;
}

.sec-2.mack .add-cover .add-cover-right {
    padding-top: 90px;
}

.sec-2.mack .add-cover .add-cover-right a {
    text-align: right;
    display: block;
    max-width: 272px;
    margin: 0 auto;
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
}

.sec-2.mack  .main-title {
    padding: 47px 0;
}

.sec-2.mack .content-cover .product-description .slide-content p {
    font-size: 16px;
    font-weight: 500;
    color: #4c4c4c;
}


/* /Mackup */


/* Mackup-2 */

.sec-2.mack.mack-2 .discription-blk span {
    align-items: start;
    margin-bottom: 70px;
}

.sec-2.mack.mack-2 .price-content {
    margin: 50px 50px 0 0px;
}

.sec-2.mack.mack-2 .discription-blk span img {
    display: block;
    margin-right: 15px;
    position: absolute;
    left: -30px;
}

.sec-2.mack.mack-2 .discription-blk span {
    position: relative;
}

.sec-2.mack.mack-2 .discription-blk span.d-flex:before {
    content: "";
    position: absolute;
    height: 6%;
    width: 13%;
    background: #ff67a9;
    bottom: -30px;
    left: 2px;
}

.sec-2.mack.mack-2 .discription-blk a:before {
    display: none;
}

.sec-2.mack.mack-2 .add-cover a.advertise-btn {
    position: absolute;
    left: -220px;
    bottom: 80px;
    padding: 25px 0;
}

.sidebar.multi-slide {
    background: linear-gradient(180deg, #FFBAB5 12.09%, #FF67A9 92.9%);
}

.sidebar.multi-slide .side-image {
    position: absolute;
    bottom: 30px !important;
    left: 25px !important;
}

.sec-2.mack.mack-2 .price-content .discription-blk a {
    padding: 0 !important;
}

.sec-2.mack.mack-2 .price-content .price-blk span {
    padding: 15px 0 15px;
    background: -webkit-linear-gradient(#FFBAB5, #FF67A9);
    -webkit-background-clip: text;
    color: transparent;
}

/* /Macup-2 */

.res-menu {
    display: none;
}














/* .sec-2 .row {
    display: flex;
    align-items: center;
} */

/* Slider */

/* .sec-2 .content-cover .product-description .slick-slider {
    width: 220px;
    margin-bottom: 30px;
}

.sec-2 .content-cover .product-description .slider button.slick-prev.slick-arrow {
    position: absolute;
    left: -15px;
    transform: translate(-50%, -50%);
    top: 50%;
    outline: none;
    border: none;
    background: no-repeat;
}

.sec-2 .content-cover .product-description .slider button.slick-next.slick-arrow {
    position: absolute;
    right: -33px;
    transform: translate(-50%, -50%);
    top: 50%;
    outline: none;
    border: none;
    background: no-repeat;
}

.product-description .slider img {
    border-radius: 30px;
    height: 170px;
    object-fit: cover;
}

.sidebar ul.list-group li a i:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: #ffe0de;
    border-radius: 25px;
    right: -7px;
    bottom: -2px;
}

.sidebar ul.list-group li:nth-child(2n) .active i::after {
    background: #f94a93;
} */



/* Media Query */


@media (max-width : 1440px){
    .sec-2 .main-title {
        padding: 15px 0;
    }
}

@media (max-width : 1439px){
    .price-content {
        margin: 25px 0px 0 0;
    }
    .sidebar ul.list-group li a span {
        font-size: 11px;
        font-weight: 900;
    }
    .sidebar .side-image {
        display: none;
    }
}

@media (max-width : 991px){
    .sec-2 .container-fluid > .row {
        flex-direction: column-reverse;
    }
    .sec-2 .image-cover a.advertise-btn {
        position: absolute;
    }
    .sec-2 .image-cover {
        text-align: left !important;
    }
    .sec-2 > .container-fluid {
        padding-left: 0;
    }
    footer.copyright {
        margin: 25px    ;
    }
    .sidebar ul.list-group li a p {
        font-size: 10px;
    }
    .sec-2.mack .add-cover a.advertise-btn {
        position: static;
        text-align: center;
        display: block;
    }
    .sec-2.mack.mack-2 .add-cover a.advertise-btn {
        position: static;
        text-align: center;
        display: block;
    }
    .sec-2.mack.mack-2 .price-content .discription-blk a {
        margin-bottom: 30px;
    }
}

@media (max-width : 767px){
    .sidebar ul.list-group li a {
        padding: 0;
    }
    .sec-2.mack .content-cover {
        display: flex;
        flex-direction: column;
    }
    .sec-2 .content-cover .product-image {
        width: 100%;
    }
    .sec-2 {
        width: 100% !important;
    }
    .sidebar {
        position: fixed !important;
        left: -100%;
        top: 0;
        width: 150px;
        padding: 0 30px;
        overflow: auto;
        height: 100vh;
        justify-content: center;
    }
    .sec-2 .image-cover .lady-img {
        height: auto !important;
    }
    section.sidemenu .res-menu {
        position: absolute;
        z-index: 999;
        right: 30px;
        top: 20px;
    }
    section.sidemenu .res-menu a.nav-menu i {
        font-size: 30px;
        background-color: #131313;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
    }
    .sidebar .sidebar-footer i {
        padding: 15px 10px;
    }
    .sec-2 .content-cover {
        flex-direction: column;
    }
    .sec-2 .content-cover .product-image {
        margin-bottom: 80px;
    }
    .res-menu {
        display: block;
    }    
}
